/* 額外樣式 */
li .this {
    color: rgb(114, 203, 233);
    text-decoration: underline;
}

.selfie {
    margin-top: 20px;
    /* 上邊距離 */
    border-radius: 50%;
    /* 圓角 */
    max-width: 80%;
    /* 最大寬度為父元素的80% */
    height: auto;
    /* 自動計算高度，保持原始比例 */
    border: black solid 0.5px;
    /* 邊框樣式 */
}


.ff {
    font-weight: bold;
    /* 字體粗細 */
    font-size: 45px;
    /* 字體大小 */
    background: transparent;
    /* 背景透明 */
    border: none;
    /* 去除邊框 */
}

/* 區塊樣式 */
.mid-main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.s1 {
    color: white;
}

.mid-left {
    background-color: aqua;
    height: 85vh;
    width: 15vw;
}

.mid-right {
    background-color: aquamarine;
    height: 85vh;
    width: 55vw;
}

.messnge {
    width: auto;
    height: 720px;
    background-color: antiquewhite;
    display: flex;
    /* 使用 flex 佈局使區塊垂直置中 */ align-items: center;
    /* 垂直居中 */
    justify-content: center;
    /* 水平居中 */
}

.dropdown {
    width: 52px;
}

/* 預設隱藏下拉選單內容 */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* 選單按鈕樣式 */
  .dropdown-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }


  /* 滑鼠移至按鈕時顯示下拉選單內容 */


  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* 下拉選單項目樣式 */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }


  /* 下拉選單項目在滑鼠移上時的樣式 */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

